mixin body
  body#body
      audio(src="assets/img/beep.mp3" id="audio")
      audio(src="assets/img/explosion.mp3" id="explosionaudio")
      +pre-countdown
      +disguise
      +countdown
      +explosion
      +scripts
